<p id="notice"><%= notice %></p>

<p>
  <strong>Honor:</strong>
  <%= @contact.honor %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @contact.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @contact.generation %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
